<?php

require_once __DIR__ . '/v1.php';
require_once __DIR__ . '/v2.php';

$repositories = registry_v2_repositories_get();

ksort($repositories);
?>
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @server_name %></title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
  <div id="page" class="container">
    <div class="row">
      <h1><%= @server_name %></h1>
    </div>
    <?php if ($repositories): ?>
      <?php foreach ($repositories as $repository => $tags): ?>
        <div class="row">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
                <?php print $repository; ?>
              </h2>
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Image</th>
                  <th>Version</th>
                  <th>Last updated</th>
                </tr>
              </thead>
              <tbody>
                <?php foreach ($tags as $tag): ?>
                  <tr>
                    <td><%= @server_name %>/<?php print $repository; ?>:<?php print $tag; ?></td>
                    <td>v2</td>
                    <td class="tag-last-updated"><?php print registry_v2_tag_last_updated_get($repository, $tag); ?></td>
                  </tr>
                <?php endforeach; ?>
              </tbody>
            </table>
          </div>
        </div>
      <?php endforeach; ?>
    <?php else: ?>
      <div class="row">
        There are no repositories pushed to this registry.
      </div>
    <?php endif; ?>
  </div>
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/script.js"></script>
  </body>
</html>
