<?php

require_once __DIR__ . '/registry.php';

$repositories = array();

$registry_repositories = registry_repositories_get();

if ($registry_repositories) {
  foreach ($registry_repositories as $repository => $tags) {
    if (!isset($repositories[$repository])) {
      $repositories[$repository] = array();
    }

    foreach ($tags as $tag) {
      $repositories[$repository][$tag] = registry_tag_last_updated_get($repository, $tag);
    }
  }
}

ksort($repositories);
?>
<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= @server_name %></title>
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <!--[if lt IE 9]>
      <script src="js/html5shiv.min.js"></script>
      <script src="js/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="page-header">
            <h1>
              Registry <small><%= @server_name %></small>
              <a href="https://hub.docker.com/r/dockerizedrupal/registry/" target="_blank">
                <span class="current-version">
                  <span class="label label-info">Current version: <span class="version">1.1.0</span></span>
                </span>
                <span class="latest-version" data-version-file="https://raw.githubusercontent.com/dockerizedrupal/registry/master/VERSION.md">
                  <span class="label label-warning">New version is available <i class="fa fa-exclamation-circle"></i></span>
                </span>
              </a>
            </h1>
          </div>
        </div>
      </div>
      <?php if ($repositories): ?>
        <div class="row">
          <div class="col-md-12">
            <?php foreach ($repositories as $repository => $tags): ?>
              <div class="panel panel-default">
                <div class="panel-heading">
                  <h3 class="panel-title">
                    <i class="fa fa-cog"></i> <?php print $repository; ?>
                  </h3>
                </div>
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th>Image</th>
                      <th>Last updated</th>
                    </tr>
                  </thead>
                  <tbody>
                    <?php foreach ($tags as $tag => $last_updated): ?>
                      <?php ksort($data); ?>
                      <tr>
                        <td><%= @server_name %>/<?php print $repository; ?>:<?php print $tag; ?></td>
                        <td class="last-updated"><?php print $last_updated; ?></td>
                      </tr>
                    <?php endforeach; ?>
                  </tbody>
                </table>
              </div>
            <?php endforeach; ?>
          </div>
        </div>
      <?php else: ?>
        <div class="row">
          <div class="col-md-12">
            There are no images pushed to the registry.
          </div>
        </div>
      <?php endif; ?>
    </div>
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
